*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
  
}
nav{
  background-color: rgb(3, 71, 3);

  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .logo{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
  margin-right: 50px;
}
ul{
  display: flex;
  
  justify-content: space-around;
  width: 30%;
  margin-left: 15%;

}
ul li{
  list-style: none;
  
}
ul li a{
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
  }
  a.active,a:hover{
    background-color: rgb(17, 202, 17);
  }

  h2{
    font-size: 100px;
    margin-top: 10%;
    text-align: center;
  }
  .motto{
    font-size: 30px;
    font-style: oblique;
    text-align: center;
  }
  /* form section */
  .registration form{
    height: auto;
    width: 40%;
    background-color: green;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;

  }
  .registration form p{
    font-size: 20px;
    margin-left: 6px;
    display: block;
    color: white;
    font-weight: 900;
  }
  .registration form input{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin: 5px;
    display: block;
  }
  button{
    padding: 15px;
    margin-top: 15px;
    width: 120px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    
  }
  select {
    display: inline-block;
    width: 40%;
    padding: 15px;
  }
.terms{
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-top: 18px;
  color: black;
}
.buttons{
   
  cursor: pointer;
  transition: 1s;
  
  border-color: green;
  text-align: center;

}
.buttons button{
  border:1px solid rgb(11, 204, 11);
  color: black;
  margin-right: 5px;
  outline:none;
  cursor: pointer;
  
}
.buttons button:hover{
  background-color: green;
}
/* blog section */
.intro{
  font-size: 30px;
}












